.tahoma_12_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
A.tahoma_12_blanca:hover {
	text-decoration:underline;
}

.tahoma_10_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
.tahoma_11_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_11_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
.tahoma_12_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_12_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}

.tahoma_13_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_13_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}


.tahoma_14_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
A.tahoma_14_blanca:hover {
	text-decoration:underline;
}
.tahoma_14_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_14_azul
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: none; 
	color: #00407c;
	text-decoration:none;
}
A.tahoma_14_azul:hover {
	text-decoration:underline;
}
.tahoma_15_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
.tahoma_15_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_15_roja
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	font-style: none; 
	color: #FF0000;
	text-decoration:none;
}
.tahoma_16_azul
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: none; 
	color: #00407c;
	text-decoration:none;
}
.tahoma_16_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
A.tahoma_16_blanca:hover {
	text-decoration:underline;
}
.tahoma_16_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_18_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}
.tahoma_18_negra
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-style: none; 
	color: #000000;
	text-decoration:none;
}
.tahoma_20_blanca
{
	font-family: Tahoma,Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	font-style: none; 
	color: #FFFFFF;
	text-decoration:none;
}