.checho
{
	background: #000000;
	font-family: Tahoma;
	color:#fd0b0b;
	font-weight: bold;
	font-size: 14px; 
}
.chaca
{
	background: #fd0b0b;
	font-family: Tahoma;
	color:#000000;
	font-weight: bold;
	font-size: 14px; 
}

.javi
{
	background: #000000;
	font-family: Tahoma;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 14px; 
}

.nacho
{
	background: #028b2f;
	font-family: Tahoma;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 14px; 
}